.container {
  width: 100%;
  max-width: var(--container-width);
  margin-inline: auto;
  padding: 0 var(--container-padding);
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.arrow {
  background: #fff;
  height: 3px;
  width: 30px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;

  &:before,
  &:after {
    content: "";
    background: #fff;
    position: absolute;
    height: 3px;
    width: 15px;
  }

  &:before {
    right: -3px;
    bottom: -4px;
    transform: rotate(-45deg);
  }

  &:after {
    right: -3px;
    top: -4px;
    transform: rotate(45deg);
  }
}

.main {
  &__title {
    text-align: center;
    padding: 4.5rem 0;
    // background-color: #f8f9fa;
    background-color: #edebe4;
    margin-bottom: 3rem;

    h1 {
      font-weight: 300;
      margin-bottom: 0;
      @include mq(medium) {
        font-size: 5.2rem;
      }
    }
  }
}

.required {
  color: #df0202;
  text-decoration: none;
}

.error {
  color: #df0202;
}

.segment {
  padding-top: var(--segment-space, 10rem);
  padding-bottom: var(--segment-space, 10rem);
  @media (max-width: $small) {
    padding-top: var(--segment-space, 5rem);
    padding-bottom: var(--segment-space, 5rem);
  }
}

body[no-scroll] {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px;
}

// :root {
//   --ifm-color-scheme: light;
//   --ifm-dark-value: 10%;
//   --ifm-darker-value: 15%;
//   --ifm-darkest-value: 30%;
//   --ifm-light-value: 15%;
//   --ifm-lighter-value: 30%;
//   --ifm-lightest-value: 50%;
//   --ifm-contrast-background-value: 90%;
//   --ifm-contrast-foreground-value: 70%;
//   --ifm-contrast-background-dark-value: 70%;
//   --ifm-contrast-foreground-dark-value: 90%;
//   --ifm-color-primary: #3578e5;
//   --ifm-color-secondary: #ebedf0;

//   --ifm-color-primary-dark: #306cce;
//   --ifm-color-primary-darker: #2d66c3;
//   --ifm-color-primary-darkest: #2554a0;
//   --ifm-color-primary-light: #538ce9;
//   --ifm-color-primary-lighter: #72a1ed;
//   --ifm-color-primary-lightest: #9abcf2;
//   --ifm-color-primary-contrast-background: #ebf2fc;
//   --ifm-color-primary-contrast-foreground: #102445;
//   --ifm-color-secondary-dark: #d4d5d8;
//   --ifm-color-secondary-darker: #c8c9cc;
//   --ifm-color-secondary-darkest: #a4a6a8;
//   --ifm-color-secondary-light: #eef0f2;
//   --ifm-color-secondary-lighter: #f1f2f5;
//   --ifm-color-secondary-lightest: #f5f6f8;
//   --ifm-color-secondary-contrast-background: #fdfdfe;
//   --ifm-color-secondary-contrast-foreground: #474748;
//   --ifm-color-success-dark: #009400;
//   --ifm-color-success-darker: #008b00;
//   --ifm-color-success-darkest: #007300;
//   --ifm-color-success-light: #26b226;
//   --ifm-color-success-lighter: #4dbf4d;
//   --ifm-color-success-lightest: #80d280;
//   --ifm-color-success-contrast-background: #e6f6e6;
//   --ifm-color-success-contrast-foreground: #003100;
//   --ifm-color-info-dark: #4cb3d4;
//   --ifm-color-info-darker: #47a9c9;
//   --ifm-color-info-darkest: #3b8ba5;
//   --ifm-color-info-light: #6ecfef;
//   --ifm-color-info-lighter: #87d8f2;
//   --ifm-color-info-lightest: #aae3f6;
//   --ifm-color-info-contrast-background: #eef9fd;
//   --ifm-color-info-contrast-foreground: #193c47;
//   --ifm-color-warning-dark: #e6a700;
//   --ifm-color-warning-darker: #d99e00;
//   --ifm-color-warning-darkest: #b38200;
//   --ifm-color-warning-light: #ffc426;
//   --ifm-color-warning-lighter: #ffcf4d;
//   --ifm-color-warning-lightest: #ffdd80;
//   --ifm-color-warning-contrast-background: #fff8e6;
//   --ifm-color-warning-contrast-foreground: #4d3800;
//   --ifm-color-danger-dark: #e13238;
//   --ifm-color-danger-darker: #d53035;
//   --ifm-color-danger-darkest: #af272b;
//   --ifm-color-danger-light: #fb565b;
//   --ifm-color-danger-lighter: #fb7478;
//   --ifm-color-danger-lightest: #fd9c9f;
//   --ifm-color-danger-contrast-background: #ffebec;
//   --ifm-color-danger-contrast-foreground: #4b1113;

//   --ifm-global-radius: 0.4rem;
//   --ifm-hover-overlay: rgba(0, 0, 0, 0.05);
//   --ifm-font-family-base: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
//     BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//   --ifm-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// }
