.flex {
  display: flex;
  // padding: 16px 8px 0 8px;
  margin-top: 16px;
  // margin: 16px 0 0 0;
  justify-content: center;
  @media (min-width: 850px) {
    justify-content: space-between;
  }
}

.sticky_wrapper {
  position: sticky;
  top: 72px; //header height + padding
  overflow-y: auto;
  height: calc(100vh - 72px);
}

.left,
.right {
  flex: 1 1 360px;
  max-width: 360px;
  min-width: 280px;
  padding: 0 8px;
  // flex-basis: 360px;
  // display: flex;
  // flex-direction: column;
  // min-height: 100%;
  // max-height: 100vh;
  // width: 280px;
}

.right {
  display: none;
  @media (min-width: 850px) {
    display: block;
  }
}

.left {
  display: none;
  @media (min-width: 1111px) {
    display: block;
  }

  .sticky_wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 72px);
    // justify-content: space-between;
  }

  .left_nav {
    // flex-grow: 1;
    // max-width: 360px;

    li {
      max-width: 360px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 8px;
      }

      &:first-child {
        img {
          width: 37px;
          height: 37px;
          border-radius: 50%;
        }
      }

      a {
        display: flex;
        align-items: center;
        padding: 8px;
        font-size: 15px;

        img {
          margin-right: 12px;
        }
      }
    }
  }

  .navigation_show-more {
    max-width: 360px;
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;

    &::before {
      content: "";
      width: 37px;
      height: 37px;
      border-radius: 50%;
      background-color: #e1e4ef;
      background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 16' width='1em' height='1em' class='x1lliihq x1k90msu x2h7rmj x1qfuztq x198g3q0 x1qx5ct2 xw4jnvo'%3E%3Cg fill-rule='evenodd' transform='translate(-448 -544)'%3E%3Cpath fill-rule='nonzero' d='M452.707 549.293a1 1 0 0 0-1.414 1.414l4 4a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L456 552.586l-3.293-3.293z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
      background-position: center;
      background-size: 25px 20px;
      margin-right: 12px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 8px;
    }
  }

  .footer {
    background-color: transparent;
    padding: 8px 0;
    font-size: 13px;
    margin-top: auto;

    .footer-links {
      margin-left: 0;

      li {
        padding-left: 10px !important;
      }
    }
  }
}

.main {
  flex: 1 1 744px;
  max-width: 744px;
  padding-left: 32px;
  padding-right: 32px;
}

.contacts {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__title {
    font-size: 17px;
    font-weight: 600;
    color: var(--secondary-text);
  }

  &__settings {
    padding: 8px;
    filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 50%;
    }
  }

  &__items {
  }

  &__item {
    a {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 8px;

      img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 8px;
    }
  }
}
