.account {
  min-height: max-content;
  .profile {
    padding: 6px;
    border-radius: 8px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 8px;

    a {
      padding: 8px;
      // font-size: 17px;
      font-weight: 700;
      display: flex;
      align-items: center;

      img {
        width: 36px;
        aspect-ratio: 1;
        border-radius: 50%;
        margin-right: 12px;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 8px;
      }
    }
  }

  ul:first-of-type {
    li {
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 8px;
      }

      a,
      button {
        display: flex;
        align-items: center;
        padding: 8px;
        font-size: 15px;

        span {
          padding: 8px;
          border-radius: 50%;
          background-color: #e4e6eb;
          margin: 0;
          margin-right: 12px;
        }
      }
    }
  }

  .footer-links {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    color: var(--secondary-text);
    margin-left: 0;
    padding: 4px 8px 0 8px;

    li {
      padding-left: 0 !important;
      padding-right: 10px;
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
