.dropdown {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  position: fixed;
  top: 64px; // 55 px
  right: 10px;
  // width: 100%;
  width: 360px;
  min-height: 450px;
  background-color: var(--white);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 200;

  span {
    font-weight: 700;
    font-size: 24px;
    margin: 20px 6px 12px 6px;
  }

  &[data-is-open="true"] {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
}
