.postAction-modal {
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: var(--white);
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 201;

  &__wrap {
    display: grid;
  }

  button {
    display: flex;
    align-items: center;
    padding: 8px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 6px;
    }

    &[value="report"],
    &[value="edit"],
    &[value="delete"] {
      &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url("./img/xcc212.png");
        margin-right: 12px;
      }
    }

    &[value="delete"]::before {
      background-image: url("./img/xcc212.png");
    }

    &[value="edit"]::before {
      background-image: url("./img/xxc222.png");
    }

    &[value="report"]::before {
      background-image: url("./img/ZzfJKx3t9Ej.png");
    }
  }
}
